
//
// VARIABLES
//

// Colors
$blue: #4183C4;
$orange: #ff5722;
$lightOrange: #ff9331;

// Grays
$black: #000;
$darkerGray: #333;
$darkGray: #444;
$gray: #555;
$softGray: #aaa;
$lightGray: #eee;
$white: #fff;

// Font stacks
$helvetica: Helvetica, Arial, sans-serif;
$helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$georgia: Georgia, serif;

// Mobile breakpoints
@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
